* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: white;
    width: 100%;
    height: 60px;
    padding: 10px;
    justify-content: center;
    top: 0;
    position: sticky;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

nav ul {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}

nav .nav-logo {
    list-style-type: none;
}
nav .nav {
    list-style-type: none;
    display: inline-block;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	border: 0;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    height:35vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 2rem;
}
.front-bg {
	color: rgba(0, 0, 0, 0.5);
	height: 45vh;
}

.front-bg {
	text-align: right;
	color: white;
	position:inherit;
	margin-right: 90px;
}

.front-bg .container .title {
	font-family: 'Zilla Slab', serif;
	font-size: 2.5rem;
	margin-left: 700px;
}

.front-bg .container .subtitle {
	font-size: 20px;
	font-weight: 100;
	margin-top: 15px;
	line-height: 30px;
	margin-left: 800px;
}
.front-bg .container .apply-button {
	background-color: #c2195b;
	padding: 10px 30px;
	border: none;
	border-radius: 25px;
	margin-top: 20px;
	font-size: 1rem;
	color: white;
}

.intro {
	padding-left: 10%;
	padding-top: 2rem;
	padding-right: 10%;
	padding-bottom: 3rem;
	text-align: center;
}

.title-2 {
	margin-bottom: 80px;
	margin-top: 80px;
}

.intro-description {
	padding: 10px;
	text-align: left;
}






.pre-footer {
	background-color: #f7fbfb;
	padding-right: 220px;
	padding-left: 220px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.book-button {
	background-color: #336589;
	color: white;
	font-size: 1rem;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 25px;
	border: 0;
	margin-bottom: 20px;
	margin-top: 20px;

}



footer {
	padding: 1rem;
	text-align: center;
}


footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;